@import "./header.scss";
@import "./hero.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  /* Colores */
  --verde10: #1D957F;
  --gris10: #616161;
}
 
main {  
  display: flex;
  justify-content: center; 
  width: 100vw;

.head {
  max-width: 1333px;
  position: relative;
  
  .decoration {
    position: absolute;
    display: flex;
    top: 0; 
    right: 0; 
    
    &-box {
      background: var(--verde10);
      width: 330px;
      height: 800px;   
      border-radius: 35px 0 0 35px;
    }

  }

}
}